<div class="flex">
  <label for="user-select">Sélectionnez un utilisateur :</label>
  <select id="user-select" [(ngModel)]="selectedUser" (change)="onChangeUser()">
    <option *ngFor="let user of users" [value]="user">{{ user }}</option>
  </select>

  <label for="summary-type-select">Sélectionnez le type de résumé :</label>
  <select id="summary-type-select" [(ngModel)]="selectedSummaryType" (change)="fetchData()">
    <option value="daily">Quotidien</option>
    <option value="weekly">Hebdomadaire</option>
    <option value="monthly">Mensuel</option>
  </select>

  <label for="machine-select">Sélectionnez une machine :</label>
  <select id="machine-select" [(ngModel)]="selectedMachine" (change)="updateChartWithUserAndMachine()">
    <option value="all">Total</option>
    <option *ngFor="let machine of machines" [value]="machine">{{ machine }}</option>
  </select>
</div>
<canvas id="MyChart"></canvas>
